.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;                 
    left: 0;
    right: 0;
    z-index: 1;
    display: flex; 
    position: fixed;
    min-height: 50px;
    gap: 20px;
    padding: 15px 15px 0px 15px;
    box-sizing: border-box;
}

.logo {
    width: 120px; 
    height: auto; 
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
}

.logo svg {
    width: 100%;        /* занимает всю ширину родителя */
    height: auto;       /* сохраняет пропорции */
    display: block;     /* убирает лишние отступы */
}

.button {
    background-color: #ffffff;
    border: #ffffff;
}